<!DOCTYPE html>
<html>
  <head>
    <title>Sequence number</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/excellentexport.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
	<div class ='container'>
    <div class="testbox">
	  <div class="banner">
		<h1>Sequence number</h1>
		<p>The application calculates the number of amino acids sequences 
			reachable by a given number of nucleotide substitution</p>
		<p><a href = 'https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0182525' target = '_blank'>Article link</a></p>
	  </div>
      <form method="post" role="input_form">
        <div class="columns">
          <div class="item">
			<label for="file">Select a file</label>
            <input id="seq_file" name="seq_file" type="file">
		  </div>
		</div>
		<div class="item">
			<p>Choose codon table type</p>
			<select name = "codon_table">
			  <option value="1" selected>The Standard Code</option>
			  <option value="2">The Vertebrate Mitochondrial Code</option>
			  <option value="3">The Yeast Mitochondrial Code</option>
			  <option value="4">The Mold, Protozoan, and Coelenterate Mitochondrial Code and the Mycoplasma/Spiroplasma Code</option>
			  <option value="5" >The Invertebrate Mitochondrial Code</option>
			  <option value="6">The Ciliate, Dasycladacean and Hexamita Nuclear Code</option>
			  <option value="9">The Echinoderm Mitochondrial Code</option>
			  <option value="10">The Euplotid Nuclear Code</option>
			  <option value="11" >The Bacterial "Code"</option>
			  <option value="12">The Alternative Yeast Nuclear Code</option>
			  <option value="13">VegetThe Ascidian Mitochondrial Codearian</option>
			  <option value="14">The Flatworm Mitochondrial Code</option>
			  <option value="15" >Blepharisma Nuclear Code</option>
			</select>
		</div>
        <div class="question">
          <label>Mutate first codon?</label>
          <div class="question-answer">
            <div>
              <input type="radio" value="1" id="radio_1" name="mutate" checked = 'checked'/>
              <label for="radio_1" class="radio"><span>Yes</span></label>
            </div>
            <div>
              <input  type="radio" value="0" id="radio_2" name="mutate"/>
              <label for="radio_2" class="radio"><span>No</span></label>
            </div>
          </div>
		</div>

		<div class="question">
			<label>Maximum number of considered nucleotide substitutions</label>
			<div class="question-answer">
				<input type="number" name="max_mutations" step="1" min = "1" value = "1">
			</div>
		</div>

        <div class="btn-block">
		  <input type="button" value="Calculate" onclick="calculate()">
		</div>
	
	  </form>
	  <div id = 'result'>
		<div id = 'len'>
		</div>
		<br/>

	</div>
</div>
</div>
  </body>
</html>